.copyright-style-lightMode {
    color: #01051b;
    justify-content: center;
    display: flex;
    font-size: 1rem;
    padding-bottom: 0.5rem;
}

.copyright-style-darkMode {
    color: white;
    justify-content: center;
    display: flex;
    font-size: 1rem;
    padding-bottom: 0.5rem;
}

.footer-outer-div {
    height: 3rem;
    background-color: transparent;
    display: flex;
    justify-content: center;
}

.icon-style-lightMode {
    color: #01051b;
}

.icon-style-darkMode {
    color: white;
}