.project-cards-lightMode {
    position: relative !important;
    border-radius: 20px !important;
    overflow: hidden !important;
    transform-style: preserve-3d !important;
    background-color: red !important;
    z-index: 6 !important;
    width: 21rem !important;
    height: 20rem !important;
    cursor: grab !important;
    width: 30rem;
    display: block;
}

.project-cards-darkMode {
    position: relative !important;
    border-radius: 20px !important;
    overflow: hidden !important;
    transform-style: preserve-3d !important;
    background-color: red !important;
    z-index: 6 !important;
    width: 21rem !important;
    height: 20rem !important;
    cursor: grab !important;
    width: 30rem;
    display: block;
}

.outer-div-projects {
    padding: 8%;
}


.childrenGrid {
    display: flex;
    height: 100%;
    padding-top: 10%;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.text-intro-lightMode {
    top: 7%;
    position: relative;
    font-size: larger;
    font-weight: bold;
    font-size: 1.5rem;
    font-style: normal;
    display: flex;
    justify-content: center;
    color: #01051b;
    text-transform: uppercase;
}

.text-intro-darkMode {
    top: 7%;
    position: relative;
    font-size: larger;
    font-weight: bold;
    font-size: 1.5rem;
    font-style: normal;
    display: flex;
    justify-content: center;
    color: #ecf0ef;
    text-transform: uppercase;
}
